.nav {
  min-width: 150px;
  max-width: 20%;
  order: 0;
}

.detail {
  order: 1;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
